html {
    height: 100%
}

body {
    background-color: gray;
    min-height: 100%;
}

/* FORM STYLES */
div #form-wrapper {
    background-color:rgb(255, 158, 30);

    box-sizing: border-box;

    float: right;

    height: 100%;
    width: 25%;

    padding-left: 5px;
    padding-bottom: 5px;
}

div #content-wrapper{
    min-width: 254px;
}

#form-header {
    font-size: 36px;
    padding: 10px 0;
}

#tag-input {
    border: 0;
    border-radius: 5px;

    padding: 10px;
    float: left;
    font-size: 16pt;

}

#submit-tag {
    background-color: darkcyan;
    border: 0;
    border-radius: 5px;

    margin-right: 5px;
    padding: 10px;

    font-size: 16pt;
    color: white;

    float: right;
}

#submit-tag:hover {
    background-color: orange;
}
/*  */

/* BUTTON STYLES */
#buttons-container {
    background-color:rgb(54, 57, 146);
}

button {
    background-color: darkcyan;
    border: none;
    border-radius: 5px;

    margin: 7.5px;
    padding: 10px 20px;

    font-size: 18pt;
    color: white;
}

button:hover {
    background-color: orange;
}
/*  */

/* GIF-CONTAINER STYLES */
#gifs {    
    display: table;
}

div .gif-container{
    display: block;
    margin : 10px;
    float: left;

    border: 2px white solid;
    background-color: white;
}

.rating{
    font-size: 24px;
    padding-bottom:5px;

}

.gif-preview{
    border: 1px solid black;
}

